@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

body {
	font: 400 18px/1.15 var(--font-family);
	color: #222;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app {
	overflow: hidden;

	display: flex;
	flex-direction: column;

	min-height: 100vh;
}

.main {
	flex-grow: 1;
}

.container {
	margin: 0 auto;

	padding: 0 15px;

	max-width: 1230px;
	width: 100%;
}
